@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg: #1e1e22;
  --input: #353a46;
  --card: #174d70;
  --card-2: #24284b;
  --card-3: #291920;
  --card-btn: #41467d;
}

body {
  background-color: var(--bg);

}

body::-webkit-scrollbar {
  width: 0;
  opacity: 0;
}

/* Transparent scrollbar */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.chat-header {
  background: var(--bg) !important;
}

.chat-header h1 {
  color: #cccccc !important;
  padding-left: 10px;
  letter-spacing: 1px;
  font-size: 1.6rem !important;
  font-weight: 700 !important;
}

.chat-header img {
  width: 40px;
  height: 40px;
  margin: 5px;
}

.chat-container {
  width: 60%;
  height: 97vh;
  margin: 0vh auto;
}

.chat-log {
  height: 80vh;
  overflow-y: scroll;
  box-sizing: border-box;
}

.chat-message {
  color: #f1f1f1 !important
}

.chat-input {
  width: 60;
  height: 55px;
  margin: auto;
  border-radius: .7rem !important;
}

#chat-input {
  background: var(--input) !important;
  opacity: .7 !important;
  outline: none !important;
  color: #cccccc !important;
  border: none !important;
  border-radius: .2em !important;
  outline: none !important;
  padding: 3px 10px !important;
}

#chat-input:focus {
  background: var(--input) !important;
  color: #cccccc !important;
}

#chat-input::placeholder {
  color: #cccccc !important;
  opacity: .7 !important;
}

.user,
.bot {
  overflow: scroll;
  font-weight: 300 !important;
}

.btn-primary {
  font-weight: 200 !important;
  border: none !important;
  opacity: .7 !important;
  outline: none !important;
  background: var(--input) !important;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.banner-holder {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  position: absolute;
  bottom: 100px;
}

.banner {
  margin: 1% 1% 0 1% !important;
  background: var(--card) !important;
  border-radius: .7rem !important;
  width: 48% !important;
  box-shadow: rgba(0, 0, 0, 0.207) 5px 0 5px 0 !important;
}

.banner h5 {
  color: #cccccc !important;
  font-weight: 700 !important;
  font-size: 1rem !important;
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
}

.banner p {
  color: #cccccc !important;
  font-weight: 500 !important;
  font-size: .8rem !important;
}

.banner a {
  text-decoration: none;
  color: #ffffff !important;
}

.banner:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}

@media screen and (max-width: 600px) {
  .chat-container {
    width: 95dvw;
    height: 90dvh;
  }

  .chat-log {
    height: 80dvh;
  }

  .chat-input {
    width: 100%;
  }

  .banner-holder {
    width: 95vw;
    bottom: 110px;
  }

  .banner h5 {
    font-size: .9rem !important;
  }

  .banner p {
    font-size: .7rem !important;
  }
}