@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,500&family=Montserrat&family=Nanum+Gothic&family=Rubik+Storm&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181d30;
}
#chatbot {
  width: 500px;
  height: 400px;
}
#form {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
}
#input {
  flex-grow: 1;
  background-color: #6183c2;
  outline: none;
  border: none;
  padding: 8px;
  width: 220px;
  height: 22px;
  margin: auto;  
  border-radius: 0.3em;
  color: black;
  opacity: 0.7;
  border-radius: 2.5em;
  box-shadow: 2px 2px 5px #12152466;
  backface-visibility: 0.6;
}
#input::placeholder{
    color: black;
    font-weight: 700;
    opacity: 0.5;
}
#submit{
  margin: 15px 10px 15px 5px;
  outline: none;
  border: none;
  padding: 12px 20px;
  background: #00ff96;
  color: #436586;
  border-radius: 2.5em;
  box-shadow: 2px 2px 5px #12152466;
}

#chatbot-messages{
  position: relative;
  left : 12%;
  top: 5%; 
  font-weight: 570;
  color: #d5dfff;
}

.main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
