@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

* {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
    overflow: hidden;
    border: none;
    outline: none;
}

::-webkit-scrollbar {
    width: 6px;
    opacity: 0.7;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 6px;
}

::webkit-scrollbar-thumb:hover {
    background: transparent;
}

::placeholder {
    text-align: center;
    font-size: 15px;
    color: #5e6b96;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #000000ff;
}

#chatbot {
    width: 100%;
    height: 100vh;
}

.conversation {
    height: 80vh;
    width: 62%;
    overflow-y: scroll;
    margin: 4vh auto;
    color: fbfcfe;
    background: #6366f1;
    border-radius: 0.3em;
}

.conversation h2 {
    margin: 20px 15px;
    font-weight: 300;
}

.name {
    font-size: larger;
    letter-spacing: 1px;
    font-stretch: extra-expanded;
    font-weight: 500 !important;
}

.user {
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow-y: scroll;
}

.user img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 25px;
}

.user p {
    padding: 10px 7px;
    border-radius: 0.3em;
    background: #9294f5;
    width: 70%;
}

.ai {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.ai img {
    width: 25px;
    height: 25px;
    margin-left: 15px;
    margin-right: 25px;
}

#main-form {
    width: 100vw;
    height: 17vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 3px;
    z-index: 1000000;
}

#new_response {
    width: 61.5%;
    height: 40px;
    margin: 7px 0 0 0;
    background: #3a3a3a;
    border-radius: 5px;
}

.input_box {
    width: 100%;
    height: 7.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text-area {
    height: 45px;
    width: 58%;
    margin: 7px 0;
    padding-left: 10px;
    color: #000000;
    background: #9294f5;
}

#text-area:focus {
    background: #9294f5;
}

#del {
    background: #9294f5;
    height: 45px;
    width: 30px;
    border-radius: 5px;
    margin-right: -5px;
    color: #000000;
    font-weight: 200;
}

#submit {
    background: #9294f5;
    height: 45px;
    width: 30px;
    border-radius: 5px;
    margin-left: -5px;
    color: #000000;
    font-weight: 200;
}

@media screen and (max-width: 575px) {
    .conversation {
        height: 70vh;
        width: 95%;
        overflow-y: scroll;
        margin: 6vh auto;
        background: #6366f1;
        border-radius: 0.5em;
        color: #000000;
    }

    #main-form {
        width: 100vw;
        height: 24vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 3px;
        z-index: 1000000;
    }

    #new_response {
        width: 91.5%;
        height: 40px;
        margin: 7px 0 3px 0;
        background: #3a3a3a;
        border-radius: 5px;
    }

    #text-area {
        height: 45px;
        width: 75%;
        margin: 7px 0;
    }
}