<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JERN</title>
    <link rel="stylesheet" href="./static/ui.css">
  </head>
  <body>
    <header class="head">
      <h3 class="title">
        Meet JERN ,
        <span id="subtitle">Just an Experimental Response Network</span>
      </h3>
      <p>
        An AI Experimental chatbot developed with Django and SciKit-Learn. It is
        designed to respond user prompt by finding matching patterns.
      </p>
    </header>
    <div id="chatbot">
      {% if history %}
      <div class="conversation">
        {% for entry in history %}
        <div class="user"><img src="./static/user.jpg"/> {{ entry.message }}</div>
        <div class="ai"><img src="./static/AI.svg"/> {{ entry.response.0 }}</div>
        {% endfor %}
      </div>
      <!-- <p>{{ response }}</p> -->
    </div>
    {% endif %}
    <form id="main-form" method="post" action="">
      {% csrf_token %}
      <input
        type="text"
        name="message"
        id="text-area"
        placeholder="Enter your message"
      />
      <input type="submit" value="Send" id="submit" />
    </form>
  </body>
</html>
