<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JERN</title>
    <link rel="stylesheet" href="./static/ui.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <div class="section">
      <div id="chatbot">
        {% if history %}
        <div class="conversation">
          {% for entry in history %}
          <div class="user">
            <img src="./static/user.jpg" /> {{ entry.message }}
          </div>
          <div class="ai">
            <img src="./static/AI.svg" /> {{ entry.response }}
          </div>
          {% endfor %}
        </div>
        <!-- <p>{{ response }}</p> -->
      </div>
      {% endif %}
      <form id="main-form" method="post" action="">
        {% csrf_token %}
        <input
          type="text"
          name="message"
          id="text-area"
          placeholder="Enter your message"
        />
        <button type="submit" value="Send" id="submit">
          <span class="material-symbols-outlined"> send </span>
        </button>
      </form>
    </div>
    <script src="./static/animation.js"></script>
  </body>
</html>
