@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  opacity: 0.7;
}

::-webkit-scrollbar-thumb {
  /* background: linear-gradient(transparent, rgb(136, 0, 255)); */
  background: transparent;
  border-radius: 6px;
}

::webkit-scrollbar-thumb:hover {
  /* background: linear-gradient(transparent, rgb(0, 255, 102)); */
  background: transparent;
}

body {
  background: #202124;
  /* overflow-y: hidden; */
}

header {
  background-color: rgb(136, 0, 255);
  color: whitesmoke;
  width: 80vw;
  height: 10vh;
  padding: 10px 0px 0px 10px;
  border-radius: 0.3em 3em;
}

#subtitle {
  font-weight: 200;
}

#chatbot {
  width: 59vw;
  height: inherit;
  margin: auto;
  overflow-y: scroll;
}

#text-area {
  width: 81%;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 0.3em;
  margin: 7px;
  padding: 0px 10px;
  background: #303134;
}

#text-area::placeholder {
  opacity: 0.7;
  text-align: center;
}

#submit {
  width: 70px;
  height: 35px;
  border: 0;
  background: #303134;
  color: #8ab4f8;
  border-radius: 0.3em;
  margin-left: -10px;
}

#main-form {
  display: flex;
  margin: auto;
  width: 59vw;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  height: 7vh;
  background: #202124;
  position: sticky;
  bottom: 0;
}

#conversation {
  overflow-y: scroll;
  height: 60vh;
}

.user {
  background: #303134;
}

.user img {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  margin-right: 14px;
}

.ai img {
  width: 17px;
  height: 17px;
  margin-right: 14px;
}

.user,
.ai {
  width: 100%;
  height: 79px;
  color: #c8c8c8;
  font-weight: 200;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

strong {
  margin-right: 10px;
}

.section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

#del {
  width: 70px;
  height: 35px;
  border: 0;
  background: #303134;
  color: #8ab4f8;
  border-radius: 0.3em;
  margin-right: -10px;
}

@media screen and (max-width: 450px) {
  #main-form {
    width: 95vw;
  }
  #chatbot {
    width: 100vw;
  }

  .head {
    width: 87vw;
  }

  .head p {
    display: none;
  }

  .conversation {
    font-size: 12px;
    max-height: 85vh;
  }

  #text-area {
    width: 72%;
  }
  .section {
    width: 100vw;
  }
}