<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <!-- Styles -->
    <link rel="stylesheet" href="style.css" />
    <title>Hello AI</title>
  </head>
  <body>
    <!-- main-box -->
    <div class="main">
      <div class="chatbot">
        <div class="chat">
          <!-- Some Banners -->
          <div class="banners">
            <div class="banner-cards"></div>
            <div class="banner-cards"></div>
            <div class="banner-cards"></div>
          </div>
        </div>
        <!-- Text-Area -->
        <div class="text_area">
          <input
            type="text"
            name="user_input"
            id=""
            class="text-box"
            onclick="RemoveBanners()"
            placeholder="Send a message"
          />
        </div>
      </div>
    </div>
    <!-- JavaScripts -->
    <script src="script.js"></script>
  </body>
</html>
