@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  z-index: 8;
  opacity: 0.3;
}

::-webkit-scrollbar-track {
  background: #d5d9de70;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(71, 69, 69, 0.532);
  height: 50px;
  width: 5px;
  border-radius: 5px;
}

body {
  background: #343541;
  overflow-y: hidden;
}

#chatbot-window {
  margin: 70px auto;
  padding: 20px;
  width: 330px;
  height: 500px;
  color: white;
  overflow-y: scroll !important;
  border-radius: 0.5em;
  font-size: 13px;
}

#chat-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chat-input {
  height: 35px;
  width: 270px;
  padding-left: 20px;
  background: #40414f;
  color: black;
  border-radius: 0.3em;
}

#chat-input::placeholder {
  color: white;
  opacity: 0.7;
  text-transform: uppercase;
}

button {
  width: 50px;
  height: 35px;
  margin-left: -10px;
  background: #3e4452;
  border-radius: 0.3em;
  overflow-y: hidden !important;
}

.user-message {
  margin-top: 7px;
}

.material-symbols-rounded {
  overflow-y: hidden;
  color: whitesmoke;
  font-size: 30px;
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 48;
}

.banner {
  width: 100%;
  height: 140px;
  background: #40414f;
  margin-top: 20px;
  border-radius: 0.5em;
  flex-direction: column;
  color: #ffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in-out;
}

.banner h3,
p {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 4px;
  width: 80%;
}

.banner p {
  font-size: 10px;
  text-transform: capitalize;
}

@media (min-width: 700px) {
  #chatbot-window {
    width: 668px;
    height: 470px;
  }

  #chat-input {
    width: 611px;
  }

  #chat-form {
    margin-top: -20px;
  }
}