@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #010100;
    width: 100vw;
    height: 100vh;
}
.chat-container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background: #232326;
}