@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #312f38;

}

body::-webkit-scrollbar {
    width: 0;
    opacity: 0;
}

/* Transparent scrollbar */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.chat-header {
    background: #202124 !important;
}

.chat-header h1 {
    color: #cccccc !important;
    padding-left: 10px;
    letter-spacing: 1px;
    font-size: 1.6rem !important;
    font-weight: 700 !important;
}

.chat-header img {
    width: 40px;
    height: 40px;
    margin: 5px;
}

.chat-container {
    width: 80%;
    height: 97vh;
    padding: 1vh;
    margin: 1vh auto;
}

.chat-log {
    height: 80vh;
    overflow-y: scroll;
    padding: 10px;
    box-sizing: border-box;
}

.chat-message {
    color: #f1f1f1 !important
}

.chat-input {
    width: 600px;
    height: 55px;
    margin: auto;
    border-radius: .7em !important;
}

#chat-input {
    background: #161617 !important;
    opacity: .7 !important;
    outline: none !important;
    color: #cccccc !important;
    border: none !important;
    border-radius: .2em !important;
    outline: none !important;
    padding: 3px 10px !important;
}

#chat-input:focus{
    background: #161617 !important;
    color: #cccccc !important;
}

#chat-input::placeholder {
    color: #cccccc !important;
    opacity: .7 !important;
}

.user,
.bot {
    height: 50px;
    overflow: scroll;
    font-weight: 300 !important;
}
.btn-primary{
    font-weight: 200 !important;
    border: none !important;
    opacity: .7 !important;
    outline: none !important;
    background: #161617 !important;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.banner{
    margin:25px  auto !important;
    background: #444076 !important;
    border: #3033363c solid 1px !important;
    border-radius: .3rem 1.5rem !important;
}
.banner h5{
    color: #cccccc !important;
    font-weight: 700 !important;
    font-size: 1.2rem !important;
    letter-spacing: 1px !important;
}
.banner p{
    color: #ccccccb5 !important;
    font-weight: 300 !important;
    font-size: 1rem !important;
}

@media screen and (max-width: 600px) {
    .chat-container {
        width: 100vw;
        height: 80vh;
    }

    .chat-log {
        height: 70vh;
    }

    .chat-input {
        width: 100%;
    }
}
